<body>
<header>
    <h1>Bienvenido a la Bolsa de Empleo para Graduados</h1>
    <nav>
      <ul class="menu">
        <li><a routerLink="/inicio-sesion">Iniciar Sesión</a></li>
        <li><a routerLink="/registro">Registrarse</a></li>
        <!-- <li><a routerLink="/publicar-oferta">Publicar Oferta de Empleo</a></li>
        <li><a routerLink="/mi-perfil">Mi Perfil</a></li>
        <li><a routerLink="/contacto">Contacto</a></li> -->
      </ul>
    </nav>
  </header>
  
  <main>
    <div class="container">
      <h2 class="inicio">Tu Pasaporte hacia una Carrera Exitosa</h2>
      <p class="message">En la Bolsa de Empleo para Graduados, conectamos a talentosos graduados con oportunidades laborales emocionantes. Ya sea que estés buscando tu primer empleo o estés listo para avanzar en tu carrera, aquí encontrarás las mejores opciones para alcanzar tus metas profesionales.</p>
    </div>
  </main>
  
  <section class="features">
    <div class="feature">
      <h3>Ofertas de Empleo de Calidad</h3>
      <p>Nuestra plataforma te brinda acceso a una amplia gama de ofertas de empleo de alta calidad de empresas líderes en diversos sectores.</p>
    </div>
    <div class="feature">
      <h3>Gestión de Perfil Personalizada</h3>
      <p>Crea y administra tu perfil de candidato de manera eficiente para resaltar tus habilidades y experiencia de manera efectiva.</p>
    </div>
    <div class="feature">
      <h3>Soporte Profesional</h3>
      <p>Nuestro equipo de expertos está disponible para brindarte orientación y apoyo a lo largo de tu búsqueda de empleo.</p>
    </div>
  </section>
  
  <footer>
    <p>&copy; 2023 Bolsa de Empleo para Graduados - Todos los derechos reservados</p>
  </footer>
</body>