<body>
  <div class="header">
    <nav>
      <ul>
        <li><a routerLink="/principal">REGRESAR A PRINCIPAL</a></li>
      </ul>
    </nav>
  </div>

  <div class="container1">
    <h1 class="inicio">Bolsa de Empleo ULEAM</h1>
    <h1 class="inicio">Iniciar sesión</h1>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" placeholder="Ingresa tu correo electrónico" required [(ngModel)]="email" name="email">
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input type="password" id="password" placeholder="Ingresa tu contraseña" required [(ngModel)]="password" name="password">
        </div>
        <div class="btn-container">
          <button type="submit" class="btn">Iniciar sesión</button>
        </div>
      </div>
      <p class="text-center">¿No tienes una cuenta? <a routerLink="/registro" class="color2">Regístrate aquí</a></p>
      <a routerLink="/recu_contra" class="color2">¿Olvidaste tu contraseña?</a>
    </form>
  </div>
</body>
